@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@200&display=swap');

body{
    font-family: 'Urbanist', sans-serif;
    background-color: cornflowerblue;
    padding: 0px;
    margin: 0px;
}

.main{
    display: flex;
    height: 100%;
}

.container{
    margin: auto;
    width: max-content;
    background-color: white;
    padding: 35px;
}

.c-box{
    display: flex;
}

h2{
    text-align: center;
}

ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li{
    padding: 10px 20px 10px 10px;
}

a{
    text-decoration: none;
}

li:hover{
    background-color: lightblue;
    color: white;
}